@model PetcoSuppliesMVCAppLskinner.Models.ViewModels.AdminUserViewModel

<h1>Create User</h1>

<form asp-action="CreateUser">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="TelephoneNumber"></label>
        <input asp-for="TelephoneNumber" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Street"></label>
        <input asp-for="Street" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Town"></label>
        <input asp-for="Town" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="PostCode"></label>
        <input asp-for="PostCode" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Role"></label>

        <select asp-for="Role" class="form-control">
            <option>Customer</option>
            <option>Staff</option>
            <option>Admin</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">
        Create User
    </button>

</form>