@model PetcoSuppliesMVCAppLskinner.Models.ViewModels.AdminUserViewModel

<h1>Edit User</h1>

<form asp-controller="Admin" asp-action="EditUser" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Street"></label>
        <input asp-for="Street" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Town"></label>
        <input asp-for="Town" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="PostCode"></label>
        <input asp-for="PostCode" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="TelephoneNumber"></label>
        <input asp-for="TelephoneNumber" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">
        Save Changes
    </button>

</form>