@model PetcoSuppliesMVCAppLskinner.Models.ViewModels.RegisterViewModel

<h2>Register</h2>

<form asp-action="Register" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>

    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <div>
        <label asp-for="Street"></label>
        <input asp-for="Street" />
        <span asp-validation-for="Street"></span>
    </div>

    <div>
        <label asp-for="Town"></label>
        <input asp-for="Town" />
        <span asp-validation-for="Town"></span>
    </div>

    <div>
        <label asp-for="PostCode"></label>
        <input asp-for="PostCode" />
        <span asp-validation-for="PostCode"></span>
    </div>

    <div>
        <label asp-for="TelephoneNumber"></label>
        <input asp-for="TelephoneNumber" />
        <span asp-validation-for="TelephoneNumber"></span>
    </div>

    <button type="submit">Register</button>
</form>